# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/node_modules
/bower_components/bootstrap-sass/assets/fonts
/bower_components/bootstrap-sass/assets/images
/bower_components/bootstrap-sass/assets/javascript


bower.json
